{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">List Notice</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notice_lists %}
            <tr>
                <td>
                    {% if note.cover %}
                    <img src="{{ note.cover.url }}" alt="{{ note.title }}" width="100px">
                    {% else %}
                    <span class="text-muted">No cover</span>
                    {% endif %}    
                </td>
                <td>{{ note.title }}</td>
                <td>
                    <a href="{{ note.notice.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}