{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <!-- {{ form|crispy }} -->
            
                {{ form.username|as_crispy_field }}
                {{ form.mobile_number|as_crispy_field }}
                {{ form.province|as_crispy_field }}
                {{ form.district|as_crispy_field }}
                {{ form.campus|as_crispy_field}}
                {{ form.current_role|as_crispy_field}}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.municipality|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.ward|as_crispy_field}}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
